.logo {
  background-image: linear-gradient(60deg, #758f65, #00ff37);
  -webkit-background-clip: text;
  text-align: center;
}
.logo h2 {
  font-size: 44px;
  font-weight: bold;
  margin-bottom: -7px;
}
.back_content_ro {
  text-align: center;
  margin: 10px 0px 10px;
}
.back_content {
  margin-bottom: 21px;
  border: 1px solid #0ed439;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
  height: 36px;
  padding-top: 2px;
  background-color: #25d74d;
  max-width: 340px;
  margin: auto;
}
.back_content a {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  text-shadow: 1px 1px rgb(122, 119, 119);
}
.back_content a:hover {
  text-decoration: none;
}

.pontosproximos h2 {
  font-size: 24px;
  text-align: center;
  margin: 20px 0px 20px;
}

/*Barra de Pesquisa*/
.explorer--background-icon {
  background-size: 16px !important;
  background-position-x: 16px !important;
  background-position-y: 50% !important;
  background-repeat: no-repeat !important;
}
@media only screen and (min-width: 640px) {
  #explorer-search {
    width: 400px !important;
  }
}
#explorer-search {
  display: flex;
  box-sizing: border-box;
  position: relative;
  padding-left: 48px;
  margin-left: 28px;
  margin-bottom: 30px;
  width: 85%;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #e0ddde;
  border-radius: 10px;
  background-image: url("https://files.readme.io/1bc7c8b-searchIcon.svg");
}
#explorer-search:hover,
#explorer-search:focus {
  outline: none;
  border-color: #66ff66;
}

.flex-col {
  flex-direction: column;
}
.flex-col,
.flex-row {
  display: flex;
}

html[dir="ltr"] .line-item .line-image {
  padding-right: 11px;
}
.line-item .line-image {
  position: relative;
  width: auto;
}

html[dir="ltr"] .mvf-wrapper .transit {
  padding-right: 5px;
}
.mvf-wrapper .boxed > * {
  display: table-cell;
  height: inherit;
  vertical-align: middle;
  width: 2px;
}
.mvf-wrapper .agency,
.mvf-wrapper .transit {
  height: inherit;
}
.mvf-wrapper {
  display: table;
  height: 26px;
  white-space: nowrap;
}

.mvf-wrapper.has-transit .boxed:before {
  border-bottom: none;
}
.mvf-wrapper.no-image .boxed:before {
  border-bottom: none;
  border-radius: 3px 3px 0 0;
}
.mvf-wrapper .boxed:before {
  border: 1px solid #bdc3c7;
  border-radius: 3px;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.mvf-wrapper .transit img {
  display: block;
  height: 18px;
  position: relative;
}
.mvf-wrapper .transit img {
  top: 1px;
}
.mvf-wrapper img {
  box-sizing: border-box;
  display: block;
  height: inherit;
  width: auto;
}

.mvf-wrapper {
  height: 23px;
  top: 1px;
  position: relative;
}

div {
  display: block;
}

html[dir="ltr"] .line-item {
  text-align: left;
}

.line-item {
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  min-height: 58px;
  outline: none;
  padding: 10px 20px;
  position: relative;
  width: 100%;
  font-size: 100%;
  letter-spacing: -0.0088235294rem;
  line-height: 1.29;
}

.line-item a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.81);
}

.mvf-wrapper.no-image .boxed {
  height: 22px;
  border-bottom-width: 4px;
  border-bottom-style: solid;
}
.mvf-wrapper.has-transit .boxed {
  background: #fff;
}
.mvf-wrapper.no-image .boxed {
  top: -0.12em;
}
.mvf-wrapper .boxed {
  background: #fff;
  height: inherit;
  padding: 0 0.3em;
  position: relative;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.mvf-wrapper .boxed {
  border-bottom: 4px solid transparent;
}
.mvf-wrapper > * {
  display: inline-table;
  vertical-align: top;
  width: 1px;
}
div {
  display: block;
}
