.logo {
  background-image: linear-gradient(60deg, #758f65, #00ff37);
  -webkit-background-clip: text;
  text-align: center;
}

.logo h2 {
  font-size: 44px;
  font-weight: bold;
  margin-bottom: -7px;
}
.back_content_ro {
  text-align: center;
  margin: 10px 0px 10px;
  display: block;
}

.back_content {
  margin-bottom: 21px;
  border: 1px solid #0ed439;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
  height: 36px;
  padding-top: 2px;
  background-color: #25d74d;
  max-width: 340px;
  margin: auto;
}
.back_content a {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  text-shadow: 1px 1px rgb(122, 119, 119);
}
.back_content a:hover {
  text-decoration: none;
}

.pontosproximos h2 {
  font-size: 24px;
  text-align: center;
  margin: 20px 0px 20px;
}

.line-container .line-header {
  background: #292a30;
  padding: 20px;
  position: relative;
}

.line-container .line-header .line-name {
  color: #fff;
  line-height: 1;
}

div {
  display: block;
}
.line-container .line-header .line-name span {
  display: block;
  font-size: 0.9411764706rem;
  width: 100%;
}

.stops-list {
  flex-grow: 1;
  overflow: hidden;
}
mv-line-view {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

html[dir="ltr"] .stops-list .stop-item {
  padding-left: 52px;
}
.stops-list .stop-item:last-of-type {
  margin-bottom: 10px;
}
html[dir="ltr"] .stops-list .stop-item {
  padding-left: 52px;
}
.stops-list .stop-item:last-of-type {
  margin-bottom: 10px;
}

.stops-list .stop-item {
  box-sizing: border-box;
  cursor: pointer;
  display: table;
  height: 55px;
  padding: 10px 20px;
  position: relative;
  width: 100%;
  background-color: #fff;
}
div {
  display: block;
}

body {
  color: #292a30;
  margin: 0;
  padding: 0;
  font-size: 0.8235294118rem;
  overscroll-behavior-y: contain;
}
body,
html {
  height: 100%;
  background: #fff;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 106.25%;
}

html[dir="ltr"] .stops-list .stop-item:before {
  left: 27px;
}
.stops-list .stop-item:last-of-type:before {
  height: 28px;
}
.stops-list .stop-item:before {
  content: "";
  border-left: solid 3px black;
  height: 100%;
  position: absolute;
  top: 0;
}
.stops-list .stop-item:first-of-type:before {
  height: calc(100% - 28px);
  top: 28px;
}

html[dir="ltr"] mv-line-view .stops-list .stop-item:after {
  left: 22px;
}

html[dir="ltr"] .stops-list .stop-item:after {
  left: 22px;
}

.stops-list .stop-item:after {
  background-color: #fff;
  border: solid 4px #292a30;
  border-radius: 50%;
  content: "";
  height: 5px;
  position: absolute;
  top: 22px;
  transition: 0.3s ease-in-out;
  width: 5px;
}
.stops-list .stop-item.selected:after {
  background-color: #292a30;
}

mv-line-view .stops-list .stop-item > div {
  display: table-cell;
  vertical-align: middle;
}

.updates-message-wrapper .message-text {
  padding: 12px 0;
  flex-grow: 1;
}
mv-root :hover {
  outline: none;
}
.updates-message-wrapper > * {
  border-radius: 4px;
}
.updates-message-wrapper {
  margin: 10px;
  display: flex;
  border-radius: 4px;
  color: #515357;
  align-items: center;
  text-decoration: none;
}

/*Fonte dos textos das Linhas */
mv-root :hover {
  outline: none;
}

mv-line-view .stops-list .stop-item.selected a,
mv-line-view .stops-list .stop-item.selected .additional-times {
  display: inline-block;
}

.stops-list .stop-item.selected a,
.stops-list .stop-item.selected .additional-times {
  display: inline-block;
}

mv-line-view .stops-list .stop-item .additional-times {
  display: none;
  font-size: 0.7058823529rem;
}

.stops-list .stop-item .additional-times {
  display: none;
  font-size: 0.7058823529rem;
}

div {
  display: block;
}

/* Proximas Paradas */
html[dir="ltr"] mv-line-view .stops-list .stop-item .arrivals {
  text-align: right;
}
html[dir="ltr"] .stops-list .stop-item .arrivals {
  text-align: right;
}
mv-line-view .stops-list .stop-item .arrivals {
  display: table-cell;
  min-width: 70px;
}
.stops-list .stop-item .arrivals {
  display: table-cell;
  min-width: 70px;
}
mv-line-view .stops-list .stop-item > div {
  display: table-cell;
  vertical-align: middle;
}
.stops-list .stop-item > div {
  display: table-cell;
  vertical-align: middle;
}
div {
  display: block;
}

mv-line-view .stops-list .stop-item .arrival-description {
  font-size: 0.7058823529rem;
}
.stops-list .stop-item .arrival-description {
  font-size: 0.7058823529rem;
}
div {
  display: block;
}
mv-line-view .stops-list .stop-item .arrivals .current {
  font-size: 0.8235294118rem;
}
.stops-list .stop-item .arrivals .current {
  font-size: 0.8235294118rem;
}
mv-line-view {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
