@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap");

.aviso_first p {
  margin-top: 30px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  padding-right: 10px;
  background-image: linear-gradient(60deg, #2e332b, #328b57, #23b342);
  -webkit-background-clip: text;
  margin-bottom: 30px;
}

.logo {
  background-image: linear-gradient(60deg, #485341 15%, #328b57, #0ed439);
  -webkit-background-clip: text;
  margin-bottom: 40px;
  text-align: center;
}
.logo h2 {
  font-size: 44px;
  font-weight: bold;
  margin-bottom: -7px;
}
.buttons_info_home {
  text-align: center;
}

.button_control {
  margin-bottom: 21px;
  border: 1px solid #0ed439;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
  height: 36px;
  padding-top: 2px;
  background-color: #25d74d;
  width: auto;
  cursor: pointer;
}
.button_control a {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  text-shadow: 1px 1px rgb(122, 119, 119);
  width: auto;
  cursor: pointer;
}
.button_control a:hover {
  text-decoration: none;
}

@media (min-width: 768px) {
  .aviso_first p {
    text-align: center;
  }
}
