.explorer {
  position: relative;
}

.explorer-map {
  width: 100%;
  height: 450px;
  background-color: #f8f8f8;
  border-radius: 20px;
}

.explorer--text {
  font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica",
    "Arial", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #171417;
}

.explorer--secondary-text {
  color: #959b9e;
  font-size: 14px;
}

.explorer--bold {
  font-weight: 500;
}

.explorer--background-icon {
  background-size: 16px !important;
  background-position-x: 16px !important;
  background-position-y: 50% !important;
  background-repeat: no-repeat !important;
}

@media only screen and (min-width: 640px) {
  #explorer-search {
    width: 400px !important;
  }
}

#explorer-search {
  box-sizing: border-box;
  position: absolute;
  top: 24px;
  left: 7px;
  padding: 8px 16px;
  padding-left: 48px;
  width: 85%;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #e0ddde;
  border-radius: 10px;
  background-image: url("https://files.readme.io/1bc7c8b-searchIcon.svg");
}

#explorer-search:hover,
#explorer-search:focus {
  outline: none;
  border-color: #66ff66;
}

#explorer-dropdown {
  display: none;
  position: absolute;
  top: 68px;
  left: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #f4f4f4;
  width: 400px;
  z-index: 1;
}

#explorer-suggestions {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 300px;
  overflow-y: scroll;
}

.explorer--dropdown-item:hover {
  background-color: #f1f1f1;
}

.explorer--dropdown-item {
  padding: 16px;
  background: #ffffff;
  box-shadow: inset 0px -1px 0px #f4f4f4;
}

.explorer--dropdown-item div {
  pointer-events: none;
}

.explorer--copyright {
  background: #faf8f8;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.explorer--error {
  padding: 8px 16px;
  padding-left: 48px;
  position: absolute;
  background: #fcedec;
  color: #980500;
  border: 1px solid rgba(152, 5, 0, 0.3);
  border-radius: 10px;
  width: 70%;
  left: -10px;
  margin: 8px;
  background-image: url("https://files.readme.io/62b6781-errorIcon.svg");
}

.mapboxgl-popup {
  max-width: 290px !important;
}

.mapboxgl-popup-content {
  padding: 0;
  filter: drop-shadow(0 0 8px rgb(23 20 23 / 10%));
  border-radius: 20px;
  min-width: 290px;
  min-height: 88px;
}

.explorer--popup {
  display: flex;
  flex-direction: row;
  padding: 16px;
}

.explorer--popup-image {
  width: 56px;
  height: 56px;
  margin: 0 !important;
}

.explorer--popup-description {
  margin: 0 8px;
  /* max-width: 160px; */
}

.explorer--popup-rating {
  background: #389e45;
  border-radius: 4px;
  height: 24px;
  min-width: 26px;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  margin-left: auto;
}
.logo {
  background-image: linear-gradient(60deg, #758f65, #00ff37);
  -webkit-background-clip: text;
  text-align: center;
}
.logo h2 {
  font-size: 44px;
  font-weight: bold;
  margin-bottom: -7px;
}
.back_content_ro {
  text-align: center;
  margin: 10px 0px 10px;
}
.back_content {
  margin-bottom: 21px;
  border: 1px solid #0ed439;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
  height: 36px;
  padding-top: 2px;
  background-color: #25d74d;
  max-width: 340px;
  margin: auto;
}
.back_content a {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  text-shadow: 1px 1px rgb(122, 119, 119);
}
.back_content a:hover {
  text-decoration: none;
}

.pontosproximos h2 {
  font-size: 24px;
  text-align: center;
  margin: 20px 0px 20px;
}
